{{#lights}}
    <li data-light-id="{{id}}" class="{{#isOn}} lightOn {{/isOn}} {{^isOn}} lightOff {{/isOn}}">
        <a href="#" draggable="false">
            {{name}}
        </a>
    </li>
{{/lights}}